body {
    background-color: grey;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-top: 25px;
}

h2,h3 {
    background-color: #999DA0;
    color: white;
}

#jam {
    font-size: 100px;
}